/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

/* scroll Bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.8;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 400;
}

p.large {
  font-size: 20px;
  text-align: justify;
  font-weight: 600;
  font-family: "Cormorant Garamond", serif;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  margin: 20px auto;
}

.content {
  background-color: #ffffff;
  width: 50%;
  border: 2px solid #000;
  padding: 4rem;
  margin: 3rem auto;
  text-align: center;
  border-radius: 10px;
}

.container .box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  width: 80%;
  margin-left: 80px;
  margin-bottom: 20px;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

.Name {
  width: 250%;
  position: relative;
  text-align: center;
  top: 50px;
  left: 70px;
}

.top-Head {
  position: relative;
  top: 70px;
  left: 50%;
  width: 250%;
  font-size: 3rem;
}

.my-bio {
  color: #ffffff;
  width: 250%;
  margin-left: 62%;
  font-size: 20px;
}

.top-back {
  display: flex;
  position: relative;
  top: 5rem;
  width: 17rem;
}

.div-img {
  width: 300%;
  margin-left: 220%;
  margin-top: 20%;
}

.boy {
  width: 300px;
  height: 350px;
  position: relative;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgba(255, 252, 252, 0.856);
}

span {
  color: #06D001;
}

.nav {
  color: #000;
  font-weight: 550;
}

.nav:hover {
  color: #E4003A;
}

.skills {
  margin-top: -35px;
}

.img {
  position: relative;
  left: 30px;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  left: 20px;
}

.projects {
  display: flex;
  padding: 3rem;
  flex-direction: row;
}

.box {
  background-color: #BFF6C3;
}

.project_title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2F3645;
}

.small {
  color: #000;
  font-weight: 500;
}

.img {
  animation: MoveUpDown 3s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

.top-header {
  margin-left: 40px;
  display: flex;
  justify-content: left;
}

.outer {
  width: 150px;
  padding: 5px;
  height: 150px;
  background-color: #000;
  border-radius: 4px;
}

.img {
  height: 150%;
  width: 100%;
  object-fit: contain;
}

.inner {
  width: 150px;
  height: 150px;
}

.im {
  width: 150px;
  height: 150px;
}

.heading {
  width: 100%;
  height: 60px;
  margin-top: 50px;
  background-color: #50B498;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.heading h1 {
  color: #000;
  font-size: 30px;
  position: relative;
  top: -10px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes MoveUpDown {

  0%,
  100% {
    left: 0;
  }

  50% {
    left: 20px;
  }
}

.Port a {
  width: 20px;
  position: relative;
  left: -20px;
  border-radius: 2px;
  position: relative;
  top: -8px;
  font-size: 24px;
}

.Port a:hover {
  color: #E90074;
}

.coding {
  width: 100%;
  height: 180px;
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.coding img {
  float: left;
  position: relative;
  left: 15px;
  top: 10px;
}

.one,
.two,
.three {
  width: 27%;
  padding: 10px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
}

.one a,
.two a,
.three a {
  color: #4535C1;
  font-weight: 550;
  font-size: 16px;
  text-align: center;
}

.one p,
.two p,
.three p {
  margin-bottom: -15px;
}

.one h3,
.two h3,
.three h3 {
  margin-top: 15px;
  margin-bottom: -15px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  position: relative;
  left: -10px;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 3rem 0 3rem;
  background-color: #141E46;
  width: 100vw;
}

/* ------------------------ Responsive ------------------------------- */

@media only screen and (max-width: 1000px) {

  .nav {
    font-size: 25px;
    margin-left: 20px;
  }

  .Port a {
    position: relative;
    top: -2px;
  }

  .container .box {
    width: 100%;
    margin: 30px auto;
  }

  .div-img {
    width: 100%;
    margin-left: 0;
    margin-top: 130%;
  }

  #home .background {
    width: 362%;
    height: 130vh;
    object-fit: cover;
  }

  #about {
    position: relative;
    top: 225px;
    width: 230%;
  }

  .arrow-img {
    position: absolute;
    top: 850px;
    margin-left: 65%;
  }

  .top-header {
    width: 113%;
    position: relative;
    left: -60px;
    margin-bottom: 40px;
  }

  #about .content {
    width: 64%;
  }

  #portfolio {
    position: relative;
    top: 225px;
    width: 220%;
  }

  .projects {
    display: block;
  }

  .img {
    width: 245%;
  }

  .coding {
    position: relative;
    left: 15px;
  }

  .one,
  .two,
  .three {
    width: 40%;
    height: 78%;
  }

  #footer {
    width: 231%;
    position: relative;
    top: 230px;
    height: 104%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-back {
    display: flex;
    position: relative;
    top: 5rem;
    margin: 0 auto;
  }

  .heading {
    width: 65%;
  }
}